.container {
    max-width: 1920px;
    height: auto;
}

.flex {
    display: flex;
}

.competence {
    flex-wrap: wrap;
    justify-content: space-around;
}

.competence-card {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.competence-card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.competence-card h1 {
    position: relative;
}

.competence-text {
    text-decoration: none;
    color: black;
}